# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

# User-specific settings
*.xcuserdatad/

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accidental duplicate schemes created by Xcode
*.xcscheme

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Misc
*.swp
*.log

# ZIP metadata
__MACOSX/
